<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ETL — Data Cleaning Studio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Syne:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>

    <section>
<div class="container">

    <h1>Upload CSV file or browse CSV file</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        
      
        <div id="drop-area" style="border: 2px dashed #aaa; padding: 20px; text-align: center;">
            <p>Drag & Drop your CSV here</p>
            <p>or</p>
            
           
            <input type="file" name="file" accept=".csv" multiple required>
        </div>

        <br>
        <button type="submit">Upload</button>

    </form>

</div>

</section>

{% if column_section %}
<section >
<div class="column-section">
    
    <h2>Cleaning Phase</h2>
    <h2>View columns for each file</h2>
    {% for file, columns in file_columns.items() %}

    <h3>{{ file }}</h3>

    <ul>
        {% for col in columns %}
            <li>{{ col }}</li>
        {% endfor %}
    </ul>


    <form method="POST" action="/clean">

    <h3>{{ file }}</h3>

    <!-- Select COLUMN -->
    <label>Select Column:</label>
    <select name="column">
        {% for col in columns %}
            <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>

    <!-- Select ACTION -->
    <label>Select Operation:</label>
    <select name="action">
        <option value="remove_nulls">Remove Nulls</option>
        <option value="drop_duplicates">Drop Duplicates</option>
        <option value="lowercase">Lowercase</option>
        <option value="uppercase">Uppercase</option>
        <option value="delete_column">Delete Column</option>
    </select>

    <!-- Hidden file name -->
    <input type="hidden" name="filename" value="{{ file }}">

    <button type="submit">Apply</button>

</form>
{% endfor %}

</div>
</section>
{% endif %}
</body>